td{
    border: 1px black solid
}

td.tjockgrå{
    background-color: grey;
}
td.grå{
    background-color: darkgrey;
}
td.ljusgrå{
    background-color: #e1dae8;
}
input[type=text]{
    background-color: #e1dae8;
}
input{
    width: 75px
}
img{
    width: 10px;
    height: 10px;
}
