.bold {
    background-color: rgb(110, 106, 106);
    font-weight: 800
    
}
#grey {
    background-color: rgb(202, 202, 202)
}
table.center {
    margin-left:auto; 
    margin-right:auto;
    
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  input {
      width: 75px;
    
  }
  h1 {
      text-align: center   
  }

  
  a {
    display: block;
    text-align: center;
    margin: auto; 
    }
    img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
        img.resize {
            width:220px; 
            height: auto;
        }
        img {
            border-radius: 50%;
            border-top-color: black; 
           
        }

        * {
            font-family: Helvetica, Arial, sans-serif;
            text-align: center;
          }
          button {
            background-color: rgb(82, 186, 179);
            border-radius: 6px;
            border: none;
            color: rgb(255, 255, 255);
            padding: 10px;
            text-transform: uppercase;
            width: 200px;
            cursor: pointer;
          }
          #placeholder {
            height: 100px;
            width: 100px;
            padding: 50px;
            margin: 50px auto;
            border: 1px solid gray;
            border-radius: 10px;  
            font-size:80px;
            
          }
@keyframes slidein {
from {
    margin-left: 30%;
    width: 50%;

}
to {
    margin-left: 20%;
    width: 50%;
}
}

h1 {
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite; /* infinite;*/
  animation-direction: alternate;
}

          